$def with (league)

<div class="leagueHeader">
<h2>Add player to $league.name</h2>
</div>

<p><a href="/league/">Back to league</a></p>

<fieldset>
<legend>Player</legend>
<form method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" tabindex="1" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Player" tabindex="2" />
            </td>
        </tr>
    </table>
</form>
</fieldset>

