
<div class="leagueHeader">
<h2>Create League</h2>
</div>

<fieldset>
<legend>League</legend>
<form method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" tabindex="1" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" tabindex="2" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create League!" tabindex="3" />
                (Or <a href="/league/login/">login</a> to your existing league.)
            </td>
        </tr>
    </table>
</form>
</fieldset>

<p>Enter a name for your league, which will be public. You will need to know this name when you come back to play again.</p>
<p>The password is a <strong>private</strong> identifier for your league: only share this with the league members. It will ensure that other people can't come in and mess with your league. You will need to remember this.</p>

