
<div class="leagueHeader">
<h2>Login to your league</h2>
</div>

<fieldset>
<legend>Login</legend>
<form method="post">
<table>
    <tr>
        <td>League name:</td>
        <td><input type="text" name="name" tabindex="1" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="password" tabindex="2" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Login" tabindex="3" />
        </td>
    </tr>
</table>
</form>
</fieldset>

