$def with (errors=None)

<div class="leagueHeader">
<h2>Login to your league</h2>
</div>

$if errors is not None and len(errors) > 0:
    <ul class="errors">
    $for error in errors:
        <li>$error</li>
    </ul>

<fieldset>
<legend>Login</legend>
<form method="post">
<table>
    <tr>
        <td>League name:</td>
        <td><input type="text" name="name" tabindex="1" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="password" tabindex="2" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Login" tabindex="3" />
            (Or <a href="/league/add/">create a new league</a>.)
        </td>
    </tr>
</table>
</form>
</fieldset>

<script type="text/javascript">

$$(document).ready(function() {
    $$("input:text:visible:first").focus();
});

</script>

