$def with (league, game, location, players, scores, totalScores)

<div class="leagueHeader">
<h2>$league.name</h2>
</div>

<h2>Playing a Game!</h2>

<p><a href="/league/">Back to league</a></p>

<p><strong>Location:</strong> $location.name</p>

<table class="gameScoreTable">
    <tr>
        $for player in players:
            <th class="header">$player.name</th>
        <th class="hidden"></th>
    </tr>
    <tr>
        <form method="post" action="/game/$game.id/enterScores">
        $for player in players:
            <td align="center">
                <input type="text" id="playerScore_$player.id" name="playerScore_$player.id" tabindex="$loop.index" size="10" />
            </td>
        <td><input type="submit" value="Enter Scores" /></td>
        </form>
    </tr>
        $for score in scores:
        <tr>
            $for player in players:
            <td align="center" class="score">$score[player.id]</td>
        </tr>
    <tr>
        $for player in players:
        <th class="footer">$totalScores[player.id]</th>
    </tr>
</table>

<script type="text/javascript">

$$(document).ready(function() {
    $$("input:text:visible:first").focus();
});

</script>

