$def with (league, locations, players, scores)

<h2>League: $league.name</h2>
<p><a href="/league/logout/">Log out</a></p>

<h3>Games</h3>
<p><a href="/startGame/">Start Game</a></p>

<table>
$for score in scores:
    <tr>
    <td><strong>$score[0].location_name</strong></td>
    $for game in score:
        <td>$game.player_name:</td><td>$game.score</td>
    </tr>
</table>

$if len(scores) > 5:
    <p><a href="/startGame/">Start Game</a></p>

<h3>Locations</h3>
<p><a href="/addLocation/">Add Location</a></p>
<ul>
$for location in locations:
    <li>$location.name</li>
</ul>

<h3>Players</h3>
<p><a href="/addPlayer/">Add Player</a></p>
<ul>
$for player in players:
    <li>$player.name</li>
</ul>
