$def with (league, locations, players, scores)

<div class="leagueHeader">
<h2>$league.name</h2>
</div>

<div class="logoutBar">
<p><a href="/league/logout/">Log out</a></p>
</div>

<div class="leagueContent">

<h3>Games</h3>
<p><a href="/startGame/">Start Game</a></p>

<table class="leagueScoreTable">
$for scoreDict in scores:
    <tr>
    <td class="locationCell"><a href="/game/$scoreDict['game_id']/">$scoreDict['location_name']</a></td>
    <td class="dateCell">$strftime(scoreDict['start_time'], '%m/%d/%Y')</td>
    <td>&mdash;</td>
    $for game in scoreDict['score']:
        <td class="name">$game.player_name:</td><td class="score">$game.score</td>
    </tr>
</table>

$if len(scores) > 5:
    <p><a href="/startGame/">Start Game</a></p>

<hr />

<h4>Locations</h4>
<p class="squeezed"><a href="/addLocation/">Add Location</a></p>
<ul>
$for location in locations:
    <li>$location.name</li>
</ul>

<hr />

<h4>Players</h4>
<p class="squeezed"><a href="/addPlayer/">Add Player</a></p>
<ul>
$for player in players:
    <li>$player.name</li>
</ul>

</div>
